DOCKER_IMAGE=seu_usuario/template-pi-api
IMAGE_TAG=latest

POSTGRES_DB=template_pi
POSTGRES_USER=template_pi_api
POSTGRES_PASSWORD=troque_esta_senha

DB_URL=jdbc:postgresql://db:5432/template_pi
DB_USERNAME=template_pi_api
DB_PASSWORD=troque_esta_senha
DDL_AUTO=update
USERS_API_URL=http://servidor-usuarios/users

JAVA_TOOL_OPTIONS=-Xms128m -Xmx512m
